#### Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

#### __1. Data Preparation & Exploratory Analysis__

In [2]:
df = pd.read_excel("data.xlsx")
df.head()

,time,Cyclone_Inlet_Gas_Temp,Cyclone_Material_Temp,Cyclone_Outlet_Gas_draft,Cyclone_cone_draft,Cyclone_Gas_Outlet_Temp,Cyclone_Inlet_Draft
0,2017-01-01 00:00:00,867.63,910.42,-189.54,-186.04,852.13,-145.9
1,2017-01-01 00:05:00,879.23,918.14,-184.33,-182.1,862.53,-149.76
2,2017-01-01 00:10:00,875.67,924.18,-181.26,-166.47,866.06,-145.01
3,2017-01-01 00:15:00,875.28,923.15,-179.15,-174.83,865.85,-142.82
4,2017-01-01 00:20:00,891.66,934.26,-178.32,-173.72,876.06,-143.39

__1.1 Check for missing values__

In [16]:
df.isna().sum()

time                        0
Cyclone_Inlet_Gas_Temp      0
Cyclone_Material_Temp       0
Cyclone_Outlet_Gas_draft    0
Cyclone_cone_draft          0
Cyclone_Gas_Outlet_Temp     0
Cyclone_Inlet_Draft         0
dtype: int64

There are no missing values in the entire dataset.

__1.2 Ensuring strict 5-minute indexing.__

First we can check if the time difference between the first and second data sample is 5 minutes or not.

In [21]:
print(df['time'].iloc[1] - df['time'].iloc[0])

0 days 00:05:00

It is! Now we can save that into a variable and loop over the entire set of samples to check if at any point, the time difference is not 5 minutes.

In [ ]:
time_diff = df['time'].iloc[1] - df['time'].iloc[0]

for i in range(len(df['time'])):
    if (df['time'].iloc[i + 1] - df['time'].iloc[i])